## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstats
.vs/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.idea/
.vscode/
*.swp
*.swo

## Docker
docker-compose.override.yml

## OS
.DS_Store
Thumbs.db

## Test results
TestResults/
coverage/
